{% for section, timings in template_timings.items %}
<h4>{{ section|title }}</h4>

<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Average Time</th>
        <th>Times</th>
        <th>Total time</th>
        <th>Min. time</th>
        <th>Max. time</th>
        <th>Queries</th>
        </tr>
    <thead>
    <tbody>
        {% for name, infos in timings.items %}
        <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        <td>{{ name }}</td>
        <td>{{ infos.avg|floatformat }} ms</td>
        <td>{{ infos.count }}</td>
        <td>{{ infos.total|floatformat }} ms</td>
        <td>{{ infos.min|floatformat }} ms</td>
        <td>{{ infos.max|floatformat }} ms</td>
        <td>{{ infos.queries }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
