<h4>Templates</h4>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Time Taken</th>
    </tr>
    </thead>

    <tbody>
    {% for name, time in template_timings.templates.items %}
    <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        <td>{{ name }}</td>
        <td>{{ time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h4>Blocks</h4>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Time Taken</th>
    </tr>
    </thead>

    <tbody>
    {% for name, time in template_timings.blocks.items %}
    <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        <td>{{ name }}</td>
        <td>{{ time }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>